@using it_project.Models
@model IEnumerable<Burger>

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Fonts -->
    <environment include=”Development”>
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
        <environment>
            <!-- C3 css -->
            <link href="vendor/c3/c3.min.css" rel="stylesheet">
            <title>Мени</title>
            <style>
                li {
                    margin-right: 1em;
                }
            </style>
</head>

<body class="bg-dark">

    <!-- Navigation -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-warning">
        <div class="container">

            <a class="navbar-brand" href="Index">
                <i class="fa fa-hamburger"></i> &nbsp;РОКО
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li>
                        @Html.ActionLink("Почетна", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Мени", "Menu", "Home")
                    </li>

                    <li margin: 1em 0>
                        @Html.ActionLink("За нас", "About", "Home")
                    </li>

                    <li>
                        @Html.ActionLink("Контакт", "Contact", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Кетеринг", "Catering", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("Кошничка", "Cart", "Home")
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Измени мени", "Index", "Admin")
                        </li>
                    }
                </ul>
                <ul class="navbar-nav ml-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            Здраво, @User.Identity.Name.Substring(0, User.Identity.Name.IndexOf("@"))!
                        </li>
  

                    }
                    else
                    {
                        <li>
                            @Html.ActionLink("Најави се / Зачлени се", "LogIn", "Account")
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <!-- Custom Burger floating button -->
    <a href="/Home/CustomBurger">
        <div id='custom-burger-popover' style="position: fixed; bottom: 100px; right: 40px; z-index: 100;" data-toggle="popover" data-placement="top" data-container="Create a custom burger!">
            <img src="~/Img/burger2.jpg" class="img-thumbnail bg-warning" height="100px" width="100px" style="opacity: 0.5">
            <div class="text-warning" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                <i class="fa fa-wrench fa-3x"></i>
            </div>
        </div>
    </a>

    <!-- Content -->
    <div class="container p-0 bg-dark text-warning">
        <div class="col-12">
            <div class="row px-5 pt-4 pb-4"><h2 class="font-weight-bold">Нашите производи:</h2></div>

            <!-- Mini Filters Menu -->
            <div class="row px-5 pt-2 pb-2">
                <div class="col-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text bg-warning text-dark">Филтер</label>
                        </div>
                        <select class="custom-select bg-dark text-warning" id="breadType">
                            <option selected>Лепче</option>
                            <option value="ClassicWhite">бело</option>
                            <option value="Integral">црно</option>
                        </select>
                        <select class="custom-select bg-dark text-warning" id="meatType">
                            <option selected>Месо</option>
                            <option value="Chicken">пилешко</option>
                            <option value="Pork">плескавица</option>
                        </select>
                        <select class="custom-select bg-dark text-warning" id="sauceType">
                            <option selected>Сос</option>
                            <option value="sauce1">кари</option>
                            <option value="sauce2">авокадо</option>
                            <option value="sauce3">чили</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Menu Items -->
            <div class="row px-5">
                <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10">
                    <ul class="list-unstyled">
                        <!--POCEHTOK NA LI-->
                        @{ var i = 0;}
                        @foreach (Burger b in Model)
                        {
                            i++;
                            <li class="media my-2" style="min-height: 5rem;">
                                <img src="@Href(b.Pateka)" class="mr-3 img-thumbnail bg-warning" alt="..." height="64px" width="64px">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">@b.Ime</h5>
                                    @b.Opis
                                    <div class="media mt-3 collapse bg-warning text-dark p-3" id="burger@(i)">
                                        <div class="media-body">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    @b.Opis
                                                    <br />

                                                </div>
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <!--  za kolichina da se vnesuva samo preku cart
                                                    <input type="number"  style="max-width: 40%;" maxlength="6" size="6">
                                                -->
                                                        <!-- kopcheto za dodavanje vo koshnichka-->
                                                        @using (Html.BeginForm("AddToCart", "Home", new { productID = b.Id }, FormMethod.Post))
                                                        {
                                                            <button class="btn btn-dark text-warning mx-1"><i class="fa fa-cart-plus"></i></button>
                                                        }
                                                        <!--kraj na kopcheto za dodavanje vo koshnichka-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Price & Info Button -->
                                <div class="row mr-0 mb-0 px-1">
                                    <div class="col-4">
                                        <button class="btn-outline-warning" disabled="disabled" style="width:100px">@b.Cena ДЕН</button>
                                    </div>
                                    <div class="w-100" style="height: 0.5rem;"></div> <!-- Divider -->
                                    <div class="col-6" style="width:100px">
                                        <button class="btn-outline-warning" type="button" data-toggle="collapse" data-target="#burger@(i)" aria-expanded="false" style="width:100px">
                                            <i class="fa fa-info"></i> &nbsp;&nbsp;&nbsp;<i class="fa fa-shopping-cart"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /Price & Info Button -->
                            </li>
                        }
                        <!--KRAJ NA LI-->


                    </ul>

                </div>
            </div>
            <!-- /Menu Items -->

            <div class="row bg-warning" style="height: 0.5rem"></div>
        </div>

        <!-- Footer -->
        <div class="col-12">
            <div class="row">
                <div class="col-12 p-3 bg-dark text-warning text-center">
                    <small>Copyright FINKI 2019</small>
                </div>
            </div>

        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- C3/D3 Charts -->
    <script src="vendor/c3/d3.min.js"></script>
    <script src="vendor/c3/c3.min.js"></script>

    <script src="js/admin.js"></script>
  
</body>
</html>
